.editProductImg {
  width: 10%;
}
.ProductImg {
  width: 30%;
}
.img-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.img-profile {
  object-fit: cover !important;
}
.messageWrapper {
  max-width: 300px;
}
.messageWrapper p {
  word-wrap: break-word;
}
@import "bourbon@5.*";
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  color: rgba(0, 0, 0, 0.87);
}
a {
  color: #4e73df;
}
a:hover,
a:focus {
  color: rgba(4, 106, 56, 1);
}
.container {
  margin: 5% 3%;
}

@media screen and (max-width: 426px) {
  .ProductImg {
    width: 80%;
    margin-bottom: 10px;
  }
}

@media (min-width: 48em) {
  .container {
    margin: 2%;
  }
}
@media (min-width: 105em) {
  .container {
    margin: 2em auto;
    max-width: 75em;
  }
}
table {
  overflow-x: auto;
  margin-top: 30px;
  width: 100%;
  margin-bottom: 1.5em;
  border-spacing: 0;
}
@media (min-width: 88em) {
  table {
    font-size: 0.9em;
  }
}
@media (min-width: 92em) {
  table {
    font-size: 1em;
  }
}
table thead {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
@media (min-width: 88em) {
  table thead {
    position: relative;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
  }
}
table thead th {
  background-color: #4e73df;
  border: 1px solid #4e73df;
  font-weight: normal;
  text-align: center;
  color: white;
}
table thead th:first-of-type {
  text-align: left;
}
table tbody,
table tr,
table th,
table td {
  display: block;
  padding: 0;
  text-align: left;
  white-space: normal;
}
@media (min-width: 88em) {
  table tr {
    display: table-row;
  }
}
table th,
table td {
  padding: 0.5em;
  vertical-align: middle;
}
@media (min-width: 70em) {
  table th,
  table td {
    padding: 0.75em 0.5em;
  }
}
@media (min-width: 88em) {
  table th,
  table td {
    display: table-cell;
    padding: 0.5em;
  }
}
@media (min-width: 122em) {
  table th,
  table td {
    padding: 0.75em 0.5em;
  }
}
@media (min-width: 130em) {
  table th,
  table td {
    padding: 0.75em;
  }
}
table caption {
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 88em) {
  table caption {
    font-size: 1.5em;
  }
}
table tfoot {
  font-size: 0.8em;
  font-style: italic;
}
@media (min-width: 132em) {
  table tfoot {
    font-size: 0.9em;
  }
}
@media (min-width: 88em) {
  table tbody {
    display: table-row-group;
  }
}
table tbody tr {
  margin-bottom: 1em;
}
@media (min-width: 88em) {
  table tbody tr {
    display: table-row;
    border-width: 1px;
  }
}
table tbody tr:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 88em) {
  table tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.12);
  }
}
table tbody th[scope="row"] {
  background-color: #4e73df;
  color: white;
}
@media (min-width: 90em) {
  table tbody th[scope="row"] {
    border-left: 1px solid #4e73df;
    border-bottom: 1px solid #4e73df;
  }
}
@media (min-width: 48em) {
  table tbody th[scope="row"] {
    background-color: transparent;
    color: rgba(0, 0, 1);
    text-align: left;
  }
}
table tbody td {
  text-align: right;
}
@media (min-width: 88em) {
  table tbody td {
    border-left: 1px solid #4e73df;
    border-bottom: 1px solid #4e73df;
    text-align: center;
  }
}
@media (min-width: 88em) {
  table tbody td:last-of-type {
    border-right: 1px solid #4e73df;
  }
}
table tbody td[data-type="currency"] {
  text-align: right;
}
table tbody td[data-title]:before {
  content: attr(data-title);
  float: left;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.54);
}
@media (min-width: 80em) {
  table tbody td[data-title]:before {
    font-size: 0.9em;
  }
}
@media (min-width: 88em) {
  table tbody td[data-title]:before {
    content: none;
  }
}